# **Analysis of Metabolic Syndrome Data**

Firstname Lastname

Student ID xxxxxxx

# **Instructions**

To get you started, I included the following text and code cells for importing the library and dataset that you will use for analysis.

Please apply your knowledge of Pandas to perform Exploratory Data Analysis where you explore the data, examine the DataFrames, filter DataFrame according to conditions/thresholds calculate summary statistics and create plots.

# **Import libraries**

In [2]:
import pandas as pd

# This is a comment, feel free to also document code in-text by using comments such as this.
# Feel free to add additional libraries that you want to use here e.g. numpy

# **Load dataset**

The ***metabolic syndrome dataset*** (*metabolic_syndrome_synthetic_data.csv*) is retrieved from the **GitHub** source and the content is assigned to the `df` variable.

Dataset URL: https://raw.githubusercontent.com/dataprofessor/data/master/metabolic_syndrome_synthetic_data.csv

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/data/master/metabolic_syndrome_synthetic_data.csv')
df

         WC      TG   HDLC    SBP    DBP     FPG     sex
0     67.00   61.34  83.21  65.23  60.10   75.73  female
1     61.82   60.99  78.19  97.81  93.37   91.09  female
2     73.40   65.14  73.20  53.27  69.04   70.73  female
3     71.25  146.66  84.05  91.50  56.61   79.78  female
4    112.53  228.97  16.73   5.96   2.24  165.43    male
..      ...     ...    ...    ...    ...     ...     ...
995   63.35  122.10  80.09  59.57  63.71   72.61    male
996  114.51  391.68  12.82   7.24  26.92  184.00    male
997  114.90  604.84  14.75  42.93  26.26  104.12  female
998   91.51  554.35  19.54  17.50   1.69  183.55    male
999   80.44   85.36  43.52  94.85  49.45   70.12    male

[1000 rows x 7 columns]

---

The following are examples that you can use for Text formatting ideas.

# **1. Section**

Explanation text to describe what this section is doing.

### **1.1. Sub-section**

Explanation text to describe what this sub-section is doing.

Format text by using **bold**, *italic* as well as ***both bold and italic at the same time***.

Function names and variable names can be highlighted by using the tick symbol (`) before and after the text of interest.

For example, `pd.read_csv()`.